@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1F242D;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    background: rgba(31, 36, 45, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards; 
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: greenyellow;
    text-shadow: 0 0 20px greenyellow;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 710px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: greenyellow;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    margin-right: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid greenyellow;
    border-radius: 50%;
    font-size: 20px;
    color: greenyellow;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: greenyellow;
    color: #1F242D;
    box-shadow: 0 0 20px greenyellow;
}

/* Keyframes Animations */
@keyframes slideRight {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideTop {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes slideButtom {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes zoomIn {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translatey(-24px); }
    100% { transform: translatey(0); }
}


/* Resume Section */
.resume {
    display: inline-block;
    padding: 12px 28px;
    background: greenyellow;
    border-radius: 40px;
    font-size: 16px;
    color: #1F242D;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.home-content a:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* About Section */
.about {
    background: #1F242D;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.about h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.about p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    max-width: 100%; /* Optional: limits the width of the paragraphs for better readability */
}

/* Portfolio Section */
.portfolio {
    padding: 4rem 1rem;
    background: #1F242D;
}

.portfolio h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.portfolio-item {
    background: #1F242D;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item img {
    width: 350px;
    height: auto;
    border-radius: 0.5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    color: #fff;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px greenyellow;
}

/* Demo Section */
.demo {
    padding: 4rem 1rem;
    text-align: center;
}

.demo h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.demo video {
    width: 100%;
    max-width: 800px;
    border-radius: 0.5rem;
}

/* Contact Form */
.contact {
    padding: 4rem 1rem;
}

.contact h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.contact button {
    display: inline-block;
    padding: 12px 28px;
    background: greenyellow;
    border-radius: 40px;
    font-size: 16px;
    color: #1F242D;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.contact button:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
