@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards; 
}

.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: greenyellow;
    text-shadow: 0 0 20px greenyellow;
}

#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    max-width: 710px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

span {
    color: greenyellow;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    margin-right: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid greenyellow;
    border-radius: 50%;
    font-size: 2rem;
    color: greenyellow;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: greenyellow;
    color: #323946;
    box-shadow: 0 0 1rem greenyellow;
}

/* Keyframes Animations */
@keyframes slideRight {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideTop {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes slideButtom {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes zoomIn {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translatey(-24px); }
    100% { transform: translatey(0); }
}

.home-content a:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #323946;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size:  2.6rem;
}

.about-img img {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: greenyellow;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #1F242D;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about-content a:hover {
    box-shadow: 0 0 10px greenyellow;
}

.services-box a:hover {
    box-shadow: 0 0 10px greenyellow;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: greenyellow;
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: greenyellow;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Portfolio Section */
.portfolio {
    background: #323946;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), greenyellow);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.portfolio-layer a i {
   font-size: 2rem;
    color: #323946;
}

/* Contact Form */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%; 
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .btn:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #323946;
}

.footer-text {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: greenyellow;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 10px greenyellow;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #323946;
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    
    section {
        padding: 10rem 3% 2rem;
    }
    
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    
    .navbar.active {
        display: block;
    }
    
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    
    .home {
        flex-direction: column;
    }
    
    .home-content h3 {
        font-size: 2.6rem;
    }
    
    .home-content h1 {
        font-size: 5rem;
    }
    
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}
