@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards; 
}

.navbar a {
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 4rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: greenyellow;
    text-shadow: 0 0 20px greenyellow;
}

#menu-icon{
    font-size: 3.6rem;
    color: #fff;
    display: none;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    max-width: 710px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideButtom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

span {
    color: greenyellow;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    margin-right: 20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid greenyellow;
    border-radius: 50%;
    font-size: 2rem;
    color: greenyellow;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    background: greenyellow;
    color: #323946;
    box-shadow: 0 0 1rem greenyellow;
}

/* Keyframes Animations */
@keyframes slideRight {
    0% { transform: translateX(-100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideLeft {
    0% { transform: translateX(100px); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideTop {
    0% { transform: translateY(100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes slideButtom {
    0% { transform: translateY(-100px); opacity: 0; }
    100% { transform: translatey(0); opacity: 1; }
}

@keyframes zoomIn {
    0% { transform: scale(0); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes floatImage {
    0% { transform: translateY(0); }
    50% { transform: translatey(-24px); }
    100% { transform: translatey(0); }
}

.home-content a:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* About Section */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: #323946;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size:  2.6rem;
}

.about-img img {
    height: 310px;
    width: 310px;
    border-radius: 50%;
    border: 10px solid greenyellow;
    background: greenyellow;
    box-shadow: 0 0 20px greenyellow;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: greenyellow;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #1F242D;
    letter-spacing: .1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.about-content a:hover {
    box-shadow: 0 0 10px greenyellow;
}

.services-box a:hover {
    box-shadow: 0 0 10px greenyellow;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}

.services-container .services-box:hover {
    border-color: greenyellow;
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: greenyellow;
}

.services-box h3 {
    font-size: 2.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Portfolio Section */
.portfolio {
    padding: 4rem 1rem;
    background: #1F242D;
}

.portfolio h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.portfolio-item {
    background: #1F242D;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item img {
    width: 350px;
    height: auto;
    border-radius: 0.5rem;
}

.portfolio-item h3 {
    margin: 1rem 0;
}

.portfolio-item p {
    color: #fff;
}

.portfolio-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px greenyellow;
}

/* Demo Section */
.demo {
    padding: 4rem 1rem;
    text-align: center;
}

.demo h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.demo video {
    width: 100%;
    max-width: 800px;
    border-radius: 0.5rem;
}

/* Contact Form */
.contact {
    padding: 4rem 1rem;
}

.contact h2 {
    margin-top: 180px; /* Adds gap */
    font-size: 40px;
    font-weight: 700;
    align-items: center;
    text-align: center;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
    margin-bottom: 20px; /* Adds gap between the heading and paragraphs */
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.contact button {
    display: inline-block;
    padding: 12px 28px;
    background: greenyellow;
    border-radius: 40px;
    font-size: 16px;
    color: #1F242D;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.contact button:hover {
    box-shadow: 0 0 10px greenyellow;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}
